# Create a MySQL database with 2 clicks (no account needed): https://railway.app/
# https://railway.app/project/69400d12-c602-45c9-9da5-628b41959447/plugin/86676d09-1e20-4a47-bf67-146b6adc6374/Connect
# DATABASE_URL=postgres://kjlxfqba:YSVlYlGUvtygnXMa_Yf9Xo0w22Q09JG4@manny.db.elephantsql.com/kjlxfqba
DATABASE_URL=

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
NEXTAUTH_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

NEXT_EMAILJS_SERVICE_ID=
NEXT_EMAILJS_TEMPLATE_ID=
NEXT_EMAILJS_PUBLIC_KEY=